In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None
import os

import sys
sys.path.append("../")
import src.biblioteca as bb
sys.path.append("../")
import src.soporteCleaning as scl

# data import

In [2]:
os.chdir('..')
os.chdir('data')
os.chdir('tourism_monthly')
os.getcwd()

'e:\\Cursos\\00ironhack_DA\\00LABS\\vuelve-conmigo-a-italia\\data\\tourism_monthly'

In [3]:
path = os.getcwd()
files = os.listdir(path)
files = [f for f in files if f[-3:] == 'csv']
files

['DCSC_TUR_07022023150311792.csv', 'test.csv']

In [4]:
df = pd.read_csv(files[0])
df.head()

,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,Paese di residenza dei clienti,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2020-12,Dic-2020,909328,NaN,NaN
1,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021,2021,51767750,NaN,NaN
2,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021-01,Gen-2021,963909,NaN,NaN
3,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021-02,Feb-2021,1447175,NaN,NaN
4,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021-03,Mar-2021,1132137,NaN,NaN

In [5]:
alldf = []
for file in files:
    df = pd.read_csv(file)
    alldf.append(df)

In [6]:
df = pd.concat([alldf[0]])
print(df.shape)
df.head()

(32742, 17)

,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,Paese di residenza dei clienti,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2020-12,Dic-2020,909328,NaN,NaN
1,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021,2021,51767750,NaN,NaN
2,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021-01,Gen-2021,963909,NaN,NaN
3,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021-02,Feb-2021,1447175,NaN,NaN
4,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2021-03,Mar-2021,1132137,NaN,NaN

# clean values

In [7]:
df['nivel'] = df['ITTER107'].apply(scl.nivelGeo)
df['nivel'].value_counts()

2    26964
1     5466
0      312
Name: nivel, dtype: int64

In [8]:
df['period'] = df['TIME'].apply(scl.yearOrMonthlyData)
df['period'].value_counts()

monthly    30402
yearly      2340
Name: period, dtype: int64

In [9]:
df['Variable'] = df['Indicatori'].replace(bb.dict_indicatori)
df['Typology'] = df['Tipologia di esercizio'].replace(bb.dict_tipologia_esercizio)

In [11]:
df.head(1)

,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,Paese di residenza dei clienti,TIME,Seleziona periodo,Value,Flag Codes,Flags,nivel,period,Variable,Typology
0,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",IT,Italia,2020-12,Dic-2020,909328,NaN,NaN,0,monthly,arrivals,total

# reorder columns

In [ ]:
lista_columnas = [df.columns.tolist()[-4]] + df.columns.tolist()[0:2] + df.columns.tolist()[-2:] + [df.columns.tolist()[-3]] + [df.columns.tolist()[-9]] + [df.columns.tolist()[-7]]
lista_columnas

In [ ]:
new_df = df[lista_columnas]
new_df.head()

In [ ]:
new_df.to_csv('../arrivals_nights_monthly.csv', encoding='utf-8', sep=';', decimal='.')