In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None
import os

import sys
sys.path.append("../")
import src.biblioteca as bb
sys.path.append("../")
import src.soporteCleaning as scl

# data import

In [2]:
os.chdir('..')
os.chdir('data')
os.chdir('tourism_monthly')
os.getcwd()

'e:\\Cursos\\00ironhack_DA\\00LABS\\vuelve-conmigo-a-italia\\data\\tourism_monthly'

In [3]:
path = os.getcwd()
files = os.listdir(path)
files = [f for f in files if f[-3:] == 'csv']
files

['DCSC_TUR - Accommodation establishments - full dataset.csv']

In [4]:
df = pd.read_csv(files[0], on_bad_lines='skip', sep = '|')
print(df.shape)
df.head()

C:\Users\annas\AppData\Local\Temp\ipykernel_8316\1430112649.py:1: DtypeWarning: Columns (0,8,20,21,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(files[0], on_bad_lines='skip', sep = '|')

(11674205, 25)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags
0,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990M1,Jan-1990,1948743.0,NaN,NaN
1,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990M2,Feb-1990,2073904.0,NaN,NaN
2,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990M3,Mar-1990,2643010.0,NaN,NaN
3,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990M4,Apr-1990,3290894.0,NaN,NaN
4,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990M5,May-1990,2765215.0,NaN,NaN

# cleaning and adding comtrol columns

In [5]:
df['TIME'] = df['TIME'].str.replace('M', '-')

In [6]:
df['nivel'] = df['ITTER107'].apply(scl.nivelGeo)
df['nivel'].value_counts()

3    10069816
2     1133202
1      308592
0      162595
Name: nivel, dtype: int64

In [7]:
df['year_month'] = df['TIME'].apply(scl.yearOrMonthlyData)
df['year_month'].value_counts()

monthly    9966588
yearly     1707617
Name: year_month, dtype: int64

# monthly data

In [8]:
df_month = df[df['year_month'] == 'monthly']
print(df_month.shape)
df_month.head()

(9966588, 27)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags,nivel,year_month
0,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-1,Jan-1990,1948743.0,NaN,NaN,0,monthly
1,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-2,Feb-1990,2073904.0,NaN,NaN,0,monthly
2,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-3,Mar-1990,2643010.0,NaN,NaN,0,monthly
3,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-4,Apr-1990,3290894.0,NaN,NaN,0,monthly
4,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-5,May-1990,2765215.0,NaN,NaN,0,monthly

In [9]:
df_month['Type of accommodation'].value_counts()

hotels and similar establishments                1485700
total collective accommodation establishments     858511
5 stars-5 stars deluxe hotels                     724627
1 star hotels                                     724599
3 stars hotels                                    724533
4 stars hotels                                    724296
hotel-tourism residences                          724282
2 stars hotels                                    724279
other collective accommodation establishments     496019
bed and breakfast                                 349803
farmhouses                                        349749
youth hostels                                     349746
tourist camp-sites and holiday villages           349723
holiday dwellings (rented)                        349605
holiday homes                                     349554
mountain refugees                                 349516
other accommodation n.e.c.                        272485
other collective accommodation                     59561
Name: Type of accommodation, dtype: int64

In [10]:
df_month['nivel'].value_counts()

3    9337891
2     399218
0     130038
1      99441
Name: nivel, dtype: int64

In [11]:
df_month['Indicators'].value_counts()

bed-places                                          3319814
number of establishments                            2867299
bedrooms                                            1649799
bathrooms                                           1630528
nights spent                                         242222
arrivals                                             242079
average length of stay                                 5247
net occupancy rate of bed-places (percentage)          4800
gross occupancy rate of bed-places  (percentage)       4800
Name: Indicators, dtype: int64

In [12]:
df_month['Country of residence of guests'].value_counts()

Not applicable                       9467440
Italy                                 165656
Foreign countries                     165645
All countries of the world             82307
South Korea                             1156
                                      ...
Piemonte                                 864
Lombardia                                864
Other Oceanian Countries                 840
Other Northern American Countries        840
Trentino Alto Adige                      360
Name: Country of residence of guests, Length: 86, dtype: int64

## arrivals and nights spent

In [13]:
df_month_arrivals = df_month[((df_month['Indicators'] == 'arrivals') |  
    (df_month['Indicators'] == 'nights spent')) & (df_month['Type of locality'] == 'all items') &
    ((df_month['Country of residence of guests'] == 'Italy') | 
        (df_month['Country of residence of guests'] == 'Foreign countries'))
    ]
print(df_month_arrivals.shape)
df_month_arrivals.head(1)

(310235, 27)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags,nivel,year_month
0,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-1,Jan-1990,1948743.0,NaN,NaN,0,monthly

I will keep only the data available for Italy, Sicily region and provinces

In [14]:
df_month_arrivals = df_month_arrivals[df_month_arrivals['Territory'].isin(bb.list_region)]
print(df_month_arrivals.shape)
df_month_arrivals.head(1)

(38016, 27)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags,nivel,year_month
0,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-1,Jan-1990,1948743.0,NaN,NaN,0,monthly

In [15]:
df_month_arrivals['Territory'].unique()

array(['Italy', 'Palermo', 'Messina', 'Agrigento', 'Caltanissetta',
       'Enna', 'Catania', 'Ragusa', 'Siracusa', 'Sicilia', 'Trapani'],
      dtype=object)

In [16]:
df_month_arrivals['Type of locality'].unique()

array(['all items'], dtype=object)

In [17]:
df_month_arrivals['Country of residence of guests'].value_counts()

Italy                19008
Foreign countries    19008
Name: Country of residence of guests, dtype: int64

In [18]:
df_month_arrivals['Country of residence of guests'].value_counts()

Italy                19008
Foreign countries    19008
Name: Country of residence of guests, dtype: int64

reorder columns & export

In [19]:
df_month_arrivals.head(1)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags,nivel,year_month
0,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-1,Jan-1990,1948743.0,NaN,NaN,0,monthly

In [20]:
df_month_arrivals = df_month_arrivals[[df_month_arrivals.columns.tolist()[-2]] + df_month_arrivals.columns.tolist()[0:2] + [df_month_arrivals.columns.tolist()[3]] + [df_month_arrivals.columns.tolist()[7]] + [df_month_arrivals.columns.tolist()[-7]] + [df_month_arrivals.columns.tolist()[-5]]]
print(df_month_arrivals.shape)
df_month_arrivals.head(1)

(38016, 7)

,nivel,ITTER107,Territory,Indicators,Type of accommodation,TIME,Value
0,0,IT,Italy,arrivals,total collective accommodation establishments,1990-1,1948743.0

In [21]:
df_month_arrivals.to_csv('../arrivals_nights_monthly.csv', sep = ';', decimal = '.')

## beds, baths and so on

In [22]:
df_month.head(1)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags,nivel,year_month
0,IT,Italy,AR,arrivals,N,raw data,ALL,total collective accommodation establishments,551,hotels and similar accommodation,IT,Italy,ALL,all items,ALL,all items,ALL,all items,TOT,total,1990-1,Jan-1990,1948743.0,NaN,NaN,0,monthly

In [35]:
df_month['Indicators'].value_counts()

bed-places                                          3319814
number of establishments                            2867299
bedrooms                                            1649799
bathrooms                                           1630528
nights spent                                         242222
arrivals                                             242079
average length of stay                                 5247
net occupancy rate of bed-places (percentage)          4800
gross occupancy rate of bed-places  (percentage)       4800
Name: Indicators, dtype: int64

In [36]:
df_month_hotels = df_month[((df_month['Indicators'] == 'bed-places') | (df_month['Indicators'] == 'number of establishments') | (df_month['Indicators'] == 'bedrooms') | (df_month['Indicators'] == 'bathrooms')) & 
    (df_month['Coastal and non-coastal area'] == 'all items') & (df_month['Type of locality'] == 'all items')
    ]
print(df_month_hotels.shape)
df_month_hotels.head(1)

(7863826, 27)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags,nivel,year_month
1507328,29013,Castelnovo Bariano,NUM_EST,number of establishments,N,raw data,5_5P_STARSHOTELS,5 stars-5 stars deluxe hotels,551_553,"hotels and similar accommodation, holiday and ...",NAP,Not applicable,ALL,all items,ALL,all items,ALL,all items,TOT,total,NaN,2012,NaN,-,the instance does not exist or any case has no...,3,monthly

In [37]:
df_month_hotels['Degree of urbanisation'].value_counts()

all items    7863826
Name: Degree of urbanisation, dtype: int64

In [38]:
df_month_hotels = df_month_hotels[(df_month_hotels['Territory'].isin(bb.list_region)) | ((len(df_month_hotels['ITTER107']) == 5) & (df_month_hotels['ITTER107'].str.startswith('8') == True)) ]
print(df_month_hotels.shape)
df_month_hotels.head(1)

(18324, 27)

,ITTER107,Territory,TIPO_DATO7,Indicators,CORREZ,Adjustment,TIPO_ALLOGGIO2,Type of accommodation,ATECO_2007,NACE rev. 2,ISO,Country of residence of guests,TIPOITTER1A,Type of locality,TIPOITTER1B,Degree of urbanisation,TIPOITTER1C,Coastal and non-coastal area,NUMEROSITA,Size by number of rooms,TIME,Select time,Value,Flag Codes,Flags,nivel,year_month
2489616,088009,Ragusa,BEDS,bed-places,N,raw data,1_STARSHOTELS,1 star hotels,551_553,"hotels and similar accommodation, holiday and ...",NAP,Not applicable,ALL,all items,ALL,all items,ALL,all items,TOT,total,NaN,2002,0.0,NaN,NaN,3,monthly

In [30]:
df_month_hotels.to_csv('../hotels_monthly.csv', encoding='utf-8', sep=';', decimal='.', index = False)

# yearly data

In [ ]:
df_year = df[df['year_month'] == 'yearly']
print(df_year.shape)
df_year.head()

In [ ]:
df[df['TIME'] == '2021M1']

In [ ]:
df['Type of accommodation'].value_counts()

In [ ]:
alldf = []
for file in files:
    df = pd.read_csv(file)
    alldf.append(df)

In [ ]:
df = pd.concat([alldf[0]])
print(df.shape)
df.head()

# clean values

In [ ]:
df['nivel'] = df['ITTER107'].apply(scl.nivelGeo)
df['nivel'].value_counts()

In [ ]:
df['period'] = df['TIME'].apply(scl.yearOrMonthlyData)
df['period'].value_counts()

In [ ]:
df['Variable'] = df['Indicatori'].replace(bb.dict_indicatori)
df['Typology'] = df['Tipologia di esercizio'].replace(bb.dict_tipologia_esercizio)

In [ ]:
df.head(1)

# reorder columns

In [ ]:
lista_columnas = [df.columns.tolist()[-4]] + df.columns.tolist()[0:2] + df.columns.tolist()[-2:] + [df.columns.tolist()[-3]] + [df.columns.tolist()[-9]] + [df.columns.tolist()[-7]]
lista_columnas

In [ ]:
new_df = df[lista_columnas]
new_df.head()

In [ ]:
new_df.to_csv('../arrivals_nights_monthly.csv', encoding='utf-8', sep=';', decimal='.')