In [2]:
import pandas as pd
import requests

# api data

In [3]:
url = 'https://archive-api.open-meteo.com/v1/archive?latitude=37.62&longitude=13.93&start_date=2008-01-01&end_date=2023-02-04&hourly=temperature_2m,relativehumidity_2m&models=era5_land&timezone=Europe%2FBerlin'

In [4]:
results = requests.get(url)
results

# clean api data

In [5]:
df_tiempo = pd.DataFrame(results.json()['hourly'])
df_tiempo

                    time  temperature_2m  relativehumidity_2m
0       2008-01-01T00:00             5.9                 97.0
1       2008-01-01T01:00             5.7                 97.0
2       2008-01-01T02:00             5.5                 97.0
3       2008-01-01T03:00             5.2                 97.0
4       2008-01-01T04:00             4.9                 97.0
...                  ...             ...                  ...
132331  2023-02-04T19:00             NaN                  NaN
132332  2023-02-04T20:00             NaN                  NaN
132333  2023-02-04T21:00             NaN                  NaN
132334  2023-02-04T22:00             NaN                  NaN
132335  2023-02-04T23:00             NaN                  NaN

[132336 rows x 3 columns]

In [6]:
df_tiempo.to_csv('../data/weather_sicily.csv', sep='|')